# ----------------------------------------------------------------
# Ficheros de objetos
# ----------------------------------------------------------------
*.o
parser/*.o
error/*.o
table/*.o
ast/*.o

# ----------------------------------------------------------------
# Ejecutable
# ----------------------------------------------------------------
interpreter.exe

# ----------------------------------------------------------------
# Archivos generados por Flex y Bison
# ----------------------------------------------------------------
parser/lex.yy.c
parser/interpreter.tab.c
parser/interpreter.tab.h
parser/interpreter.output
parser/interpreter.gv

# ----------------------------------------------------------------
# Carpeta de documentación generada
# ----------------------------------------------------------------
html/